.pie{
    position: relative;
    top: 50%;
    right: 10px;
    .pie a{
        color: #fff;
        .parrafo_pie{
            position: relative;
            top: 25%;
            left: 10px;
        }
    }   
}